*{
  box-sizing: border-box;
}
html{
  overflow: auto;
  height:100%
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.nav{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  gap: 2rem;
  padding: 0 1rem;
}
.innerNav{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

}

.nav a { 
  color : inherit;
  text-decoration: none;
  height: 85%;
  display: flex;
  align-items: center;
  padding : .25rem;
}

.nav ul{
  padding:0;
  margin:0;
  list-style: none;
  display: flex;
  align-items: center;
  gap:7rem;
  font-size: 1.25rem;
}

.site-title{
  font-size: 2.25rem;
  font-weight: bold;
  text-decoration: none;
  align-items: center;

}

.active {
  background-color: #777;
  border-radius: 5px;
}

.nav li:hover {
  background-color: #555;
  border-radius: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.footer>a {
  color: white;
  text-decoration: none;
}
.cameras{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.camera{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.camera img{
  height: 25%;
}